h1 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
text-align: center;
font-size: 38px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 25px; 
} 

h2 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 23px; 
font-style: normal; 
font-variant: normal; 
color: darkblue;
font-weight: 700; 
line-height: 25px; 
} 

p 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 21px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 25px; 
} 

ul
{
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 21px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400;
}