body
{ 
margin-left: 5%;
margin-right: 5%;
background-color:#141414;
} 

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

td, th {
  border: 1.5px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #747474;
  color: black;
}

tr:nth-child(odd) {
  background-color: #9f9e9e;
  color: black;
}

blockquote
{
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 21px; 
font-style: italic; 
font-variant: normal; 
font-weight: 400; 
line-height: 25px; 
color: white;
}

h1 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
text-align: center;
font-size: 38px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 25px; 
color: white;
} 

h2 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 23px; 
font-style: normal; 
font-variant: normal; 
color: darkblue;
font-weight: 700; 
line-height: 25px; 
color: white;
margin-left: 1%;
margin-right: 1%;
} 

h3
{ 
margin-bottom: 0.5%;
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 22px; 
font-style: normal; 
font-variant: normal; 
color: darkblue;
font-weight: 700; 
line-height: 25px; 
color: white;
margin-left: 1%;
margin-right: 1%;
}

p 
{ 
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 21px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400;
text-align: justify; 
line-height: 25px; 
color: white;
margin-left: 1.5%;
margin-right: 1.5%;
} 

ul
{
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
font-size: 21px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400;
color: white;
} 

a
{
font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
font-size: 21px;
font-style: normal;
font-weight: bold;
color: #1085b4;   
}

div {

  border-bottom-style: solid;
  color: grey;

}